BASE            {{ ldap.base }}
URI             {{ ldap.uri }}
TIMELIMIT       {{ ldap.timelimit }}
TIMEOUT         {{ ldap.timeout }}
NETWORK_TIMEOUT {{ ldap.network_timeout }}
SUDOERS_BASE    {{ ldap.sudoers_base }}
TLS_CACERT      {{ ldap.tls_cacert }}
TLS_REQCERT     {{ ldap.tls_reqcert }}

