[sssd]
config_file_version = {{ sssd.sssd.config_file_version }}
services = {{ sssd.sssd.services }}
domains = {{ sssd.sssd.domains }}


[nss]
filter_users  = {{ sssd.nss.filter_users }}
filter_groups = {{ sssd.nss.filter_groups }}


[pam]
reconnection_retries = {{ sssd.pam.reconnection_retries }}


[sudo]


[domain/{{ sssd.domain.domain }}]

id_provider     = {{ sssd.domain.id_provider }}
auth_provider   = {{ sssd.domain.auth_provider }}
chpass_provider = {{ sssd.domain.chpass_provider }}
sudo_provider   = {{ sssd.domain.sudo_provider }}
access_provider = {{ sssd.domain.access_provider }}

ldap_uri        = {{ sssd.domain.ldap_uri }}
ldap_chpass_uri = {{ sssd.domain.ldap_chpass_uri }}

ldap_schema     = {{ sssd.domain.ldap_schema }}

ldap_search_base          = {{ sssd.domain.ldap_search_base }}
ldap_user_object_class    = {{ sssd.domain.ldap_user_object_class }}
ldap_user_search_base     = {{ sssd.domain.ldap_user_search_base }}
ldap_group_object_class   = {{ sssd.domain.ldap_group_object_class }}
ldap_group_search_base    = {{ sssd.domain.ldap_group_search_base }}
ldap_sudo_search_base     = {{ sssd.domain.ldap_sudo_search_base }}
ldap_netgroup_search_base = {{ sssd.domain.ldap_netgroup_search_base }}

ldap_access_filter                = {{ sssd.domain.ldap_access_filter }}

cache_credentials   = {{ sssd.domain.cache_credentials }}
entry_cache_timeout = {{ sssd.domain.entry_cache_timeout }}

ldap_tls_reqcert = {{ sssd.domain.ldap_tls_reqcert }}
ldap_tls_cacert  = {{ sssd.domain.ldap_tls_cacert }}
ldap_id_use_start_tls = {{ sssd.domain.ldap_id_use_start_tls }}
ldap_network_timeout = {{ sssd.domain.ldap_network_timeout }}
